{% extends 'core/base_club.html' %} 
{% load static %} 
{{ clubs }} 

{% block content %}
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Accueil
          </a>
          <a class="nav-link" href="{% url 'mercato' %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            Mercato
          </a>
          <a class="nav-link" href="{% url 'business' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Demandes
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content" class="bg-light py-5">
    <div class="container">
      <h1>Clubs</h1>
      <div class="row mb-2">
        <div class="col-md-6">
          <input
            type="text"
            id="search"
            class="form-control"
            placeholder="Rechercher..."
          />
        </div>
        <!-- Champ de filtrage par âge -->
        <div class="col-md-6 text-right">
          <a class="btn btn-primary btn-sm" href="{% url 'add_club' %}" target="'_blank" role="button">Ajouter un club</a> <!-- Utilisez btn-sm pour rapetisser le bouton -->
        </div>
      </div>
      <table class="table table-striped" id="dataTableClubs">
        <thead>
          <tr>
            <th onclick="sortTable(0)">Club</th>
            <th onclick="sortTable(1)">Parent Club</th>
            <th onclick="sortTable(2)">Championnat</th>
            <th onclick="sortTable(3)">Coach</th>
            <th onclick="sortTable(4)">Pays</th>
            <th onclick="sortTable(5)">Note Actuelle</th>
            <th onclick="sortTable(6)">Note Financière</th>
            <th onclick="sortTable(7)">Note Totale</th>
            <th onclick="sortTable(8)">Commentaires</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Vos données vont ici -->
          {% for club in clubs %}
          <tr>
            <td><a href="{% url 'club' club.id %}">{{club.Club}}</a></td>
            <td>{{club.parent_club}}</td>
            <td>{{club.champ}}</td>
            <td>{{club.coach}}</td>
            <td>{{club.country}}</td>
            <td>{{club.actual}}</td>
            <td>{{club.financial}}</td>
            <td>{{club.rating}}</td>
            <td>{{club.commentaires}}</td>
            <td class="text-right"><a class="btn btn-warning btn-sm" href="{% url 'update_club' club.id %}" role="button">Modifier</a></td>
            <td class="text-right"><a class="btn btn-danger btn-sm" href="{% url 'delete_club' club.id %}" role="button">Supprimer</a></td>
          </tr>
          {% endfor %}
          <!-- Ajoutez plus de lignes de données ici -->
        </tbody>
      </table>
    </div>
    <script>
  </script>
    {% endblock %}
  </div>
</div>