{% extends 'core/base_table.html' %} {% load static %} {{ players }} {{ positions }} {% block content %} 
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" href="{% url 'access' %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Accueil
          </a>
          <div class="sb-sidenav-menu-heading">Interface</div>
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Filtres
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div
            class="collapse"
            id="collapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
          <nav class="sb-sidenav-menu-nested nav">
            <select id="positionFilter" class="form-select">
              <option value="">Toutes les positions</option>
              {% for position in positions %}
              <option value="{{ position }}">{{ position }}</option>
              <!-- Ajoutez plus d'options pour d'autres positions -->
              {% endfor %}
            </select></br>
            <label for="ageFilter" class="form-label">Âge</label>
            <div class="slider" id="ageSlider"></br>
              <input type="text" id="ageRange" readonly style="border:0; color:#0f055a; font-weight:bold;">
            </div></br></br>
            <label for="ratingRange">Note Totale</label></br>
            <div class="slider" id="ratingSlider"></br>
              <input type="text" id="ratingRange" readonly style="border:0; color:#0f055a; font-weight:bold;">
            </div></br></br>
            <label for="ratingFRange">Note Financière</label></br>
            <div class="slider" id="ratingFSlider"></br>
              <input type="text" id="ratingFRange" readonly style="border:0; color:#0f055a; font-weight:bold;">
            </div></br></br>
            <label for="ratingARange">Note Actuelle</label></br>
            <div class="slider" id="ratingASlider"></br>
              <input type="text" id="ratingARange" readonly style="border:0; color:#0f055a; font-weight:bold;">
            </div></br></br>
            <label for="ratingPRange">Note Potentielle</label></br>
            <div class="slider" id="ratingPSlider"></br>
              <input type="text" id="ratingPRange" readonly style="border:0; color:#0f055a; font-weight:bold;">
            </div></br></br>
            <label for="contractRange">FDC</label></br>
            <div class="slider" id="contractSlider"></br>
              <input type="text" id="contractRange" readonly style="border:0; color:#0f055a; font-weight:bold;">
            </div></br></br>
          </nav>
          </div>
          <a class="nav-link" href="{%url 'business' %}">
            <div class="sb-nav-link-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            Business
          </a>
          <a class="nav-link" href="{%url 'clubs' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Clubs
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content" class="bg-light py-5">
    <div class="container">
      <h1>Joueurs</h1>
      <div class="row mb-2">
        <div class="col-md-6">
          <input
            type="text"
            id="search"
            class="form-control"
            placeholder="Rechercher..."
          />
        </br>
          <div class="col-md-6 text-right">
            <a class="btn btn-primary btn-sm" href="{% url 'add-player' %}" target="'_blank" role="button">Ajouter un joueur</a>
              <a class="btn btn-success btn-sm" href="{% url 'add_report'%}" target="_blank">Ajouter un rapport</a>
          </div>
        </div>
        <!-- Champ de filtrage par âge -->
      </div>
      <table class="table table-striped" id="dataTableJoueurs">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Age</th>
            <th>Poste</th>
            <th>Autre Poste</th>
            <th>Club</th>
            <th>Note Actuelle</th>
            <th>Note Potentielle</th>
            <th>Note Financière</th>
            <th>Note Totale</th>
            <th>FDC</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Vos données vont ici -->
          {% for player in players %}
          <tr>
            <td><a href="{% url 'joueur' player.id %}" target="_blank">{{player.name}}</a></td>
            <td>{{player.age}}</td>
            <td>{{player.position}}</td>
            <td>{{player.other_pos}}</td>
            <td><a href="{% url 'club' player.club_id.id %}" target="_blank">{{player.club_id.Club}}</a></td>
            <td>{{player.note_actuel}}</td>
            <td>{{player.potential}}</td>
            <td>{{player.note_financ}}</td>
            <td>{{player.note_tot}}</td>
            <td>{{player.end_contract.year}} ({{player.end_contract}})</td>
            <td>
              <a href="{% url 'add_shortlist' player.id %}" class="btn btn-success" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"></path>
                  </svg>
                  Ajouter à une shortlist
              </a>
          </td>
          </tr>
          {% endfor %}
          <!-- Ajoutez plus de lignes de données ici -->
        </tbody>
      </table>
    </div>
    <script>
      $(document).ready(function() {

          $('#dataTableJoueurs').DataTable({
            stateSave: true,
            searching: false,
            lengthMenu: [[10, 25, 50, 100, 500, 1000000], [10, 25, 50, 100, 500, 1000000]],
            pageLength: 1000000, 
          });
          // Initialisation du slider avec deux handles
          $("#ratingSlider").slider({
              range: true,
              min: 0,
              max: 5,
              step: 0.5,
              values: [0, 5],
              slide: function(event, ui) {
                  $("#ratingRange").val(ui.values[0] + " - " + ui.values[1]);
              }
          });
  
          // Affichage initial de la plage de notes
          $("#ratingRange").val($("#ratingSlider").slider("values", 0) +
              " - " + $("#ratingSlider").slider("values", 1));

          // Initialise le slider pour la note financière
          $("#ratingFSlider").slider({
              range: true,
              min: 0,
              max: 5,  // Ajustez la plage en fonction de votre échelle de notation financière
              step: 0.5,
              values: [0, 5],
              slide: function(event, ui) {
                  $("#ratingFRange").val(ui.values[0] + " - " + ui.values[1]);
              }
          });

          $("#ratingFRange").val($("#ratingFSlider").slider("values", 0) +
              " - " + $("#ratingFSlider").slider("values", 1));

          // Initialise le slider pour la note actuelle
          $("#ratingASlider").slider({
              range: true,
              min: 0,
              max: 5,  // Ajustez la plage en fonction de votre échelle de notation actuelle
              step: 0.5,
              values: [0, 5],
              slide: function(event, ui) {
                  $("#ratingARange").val(ui.values[0] + " - " + ui.values[1]);
              }
          });

          $("#ratingARange").val($("#ratingASlider").slider("values", 0) +
              " - " + $("#ratingASlider").slider("values", 1));

          // Initialise le slider pour la note potentielle
          $("#ratingPSlider").slider({
              range: true,
              min: 0,
              max: 5,  // Ajustez la plage en fonction de votre échelle de notation potentielle
              step: 0.5,
              values: [0, 5],
              slide: function(event, ui) {
                  $("#ratingPRange").val(ui.values[0] + " - " + ui.values[1]);
              }
          });

          $("#ratingPRange").val($("#ratingPSlider").slider("values", 0) +
              " - " + $("#ratingPSlider").slider("values", 1));

          $("#ageSlider").slider({
          range: true,
          min: 12,
          max: 130,
          step: 1,
          values: [12, 130],
          slide: function(event, ui) {
              $("#ageRange").val(ui.values[0] + " - " + ui.values[1]);
          }
      });

      // Affichage initial de la plage de notes
      $("#ageRange").val($("#ageSlider").slider("values", 0) +
          " - " + $("#ageSlider").slider("values", 1));

      $("#contractSlider").slider({
      range: true,
      min: new Date().getFullYear() - 5,
      max: new Date().getFullYear() + 10,
      step: 1,
      values: [new Date().getFullYear() - 5, new Date().getFullYear() + 10],
      slide: function(event, ui) {
          $("#contractRange").val(ui.values[0] + " - " + ui.values[1]);
      }
  });

      // Affichage initial de la plage de notes
      $("#contractRange").val($("#contractSlider").slider("values", 0) +
          " - " + $("#contractSlider").slider("values", 1));
      });
  </script>
    {% endblock %}
  </div>
</div>
